In [ ]:
import pandas as pd
import glob
import sys
import os
current_dir = os.getcwd()
sys.path.append(current_dir)  # 루트 디렉터리 경로 추가  # .py
sys.path.append(os.path.dirname(current_dir))  # 상위 디렉터리 경로 추가  # .ipynb
# from src.crawling.nst_item_search import *
from src.preporcess.utils import create_pivot_table, create_aggregate_table

data_dir = "../data/"

### 시장별 시세

In [26]:
file_path = "processed/item_price_lag_filled.csv"
df = pd.read_csv(data_dir + file_path)
df

,priceDate,item,market,minPrice,avgPrice,maxPrice,avgPrice_lag_1,avgPrice_lag_2,avgPrice_lag_3,avgPrice_lag_7
0,2015-02-25,광어,가락시장,25000.0,25000.0,25000.0,NaN,NaN,NaN,NaN
1,2015-02-26,광어,가락시장,25000.0,25000.0,25000.0,25000.0,NaN,NaN,NaN
2,2015-02-27,광어,가락시장,25000.0,25000.0,25000.0,25000.0,25000.0,NaN,NaN
3,2015-02-28,광어,가락시장,25000.0,25000.0,25000.0,25000.0,25000.0,25000.0,NaN
4,2015-03-01,광어,가락시장,25000.0,25000.0,25000.0,25000.0,25000.0,25000.0,NaN
...,...,...,...,...,...,...,...,...,...,...
163861,2025-01-15,참돔,인천종합연안부두어시장,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0
163862,2025-01-16,참돔,인천종합연안부두어시장,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0
163863,2025-01-17,참돔,인천종합연안부두어시장,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0
163864,2025-01-18,참돔,인천종합연안부두어시장,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0
163865,2025-01-19,참돔,인천종합연안부두어시장,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0

In [27]:
df_pivot = create_pivot_table(
    df=df,
    index_cols=['priceDate', 'market'],  # 기준 컬럼
    columns_col='item',                  # 분류 기준
    values_col='avgPrice'                # 값 컬럼
)
print(len(df_pivot["market"].unique()))
df_pivot

11

,priceDate,market,광어_avgPrice,농어_avgPrice,대게_avgPrice,방어_avgPrice,연어_avgPrice,우럭_avgPrice,참돔_avgPrice
0,2015-02-06,노량진 2층,NaN,NaN,32000.0,NaN,NaN,NaN,NaN
1,2015-02-07,노량진 2층,NaN,NaN,32000.0,NaN,NaN,NaN,NaN
2,2015-02-08,노량진 2층,NaN,NaN,32000.0,NaN,NaN,NaN,NaN
3,2015-02-09,노량진 2층,NaN,NaN,32000.0,NaN,NaN,NaN,NaN
4,2015-02-10,노량진 2층,NaN,NaN,32000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
36616,2025-01-19,노량진 2층,40000.0,36430.0,80720.0,54000.0,6510.0,35000.0,36430.0
36617,2025-01-19,마포농수산물시장,45000.0,45000.0,NaN,NaN,7500.0,35000.0,40000.0
36618,2025-01-19,부산민락어민활어직판장,41000.0,NaN,NaN,NaN,NaN,33340.0,NaN
36619,2025-01-19,소래포구종합어시장,45000.0,45000.0,100000.0,50000.0,8000.0,30000.0,40000.0
36620,2025-01-19,인천종합연안부두어시장,40000.0,38750.0,80000.0,35000.0,9000.0,30000.0,40000.0

In [9]:
# file_path = "processed/item_price_filled_pivot.csv"
# df_pivot.to_csv(data_dir + file_path, index=False, encoding="utf-8")

### 연령별 검색 트렌드

In [24]:
file_list = glob.glob('raw/nst_*.csv')
df_list = [pd.read_csv(data_dir + file_path) for file_path in file_list]
df = pd.concat(df_list, ignore_index=True).drop("idx", axis=1)
df

          age name     score        date
0       06_12   광어  1.398471  2016-01-01
1       06_12   광어  2.725172  2016-01-02
2       06_12   광어  1.090436  2016-01-03
3       06_12   광어  1.110405  2016-01-04
4       06_12   광어  1.492906  2016-01-05
...       ...  ...       ...         ...
253171  60_80   참돔  1.455200  2024-12-27
253172  60_80   참돔  1.132727  2024-12-28
253173  60_80   참돔  1.231929  2024-12-29
253174  60_80   참돔  1.447679  2024-12-30
253175  60_80   참돔  1.301964  2024-12-31

[253176 rows x 4 columns]

In [25]:
df_pivot = create_pivot_table(
    df=df,
    index_cols=['date', 'age'],  # 기준 컬럼
    columns_col='name',                  # 분류 기준
    values_col='score'                # 값 컬럼
)
print(len(df_pivot["age"].unique()))
df_pivot

11

,date,age,광어_score,농어_score,대게_score,방어_score,연어_score,우럭_score,참돔_score
0,2016-01-01,06_12,1.398471,1.132805,3.010929,1.859701,1.575304,1.132505,1.066252
1,2016-01-01,13_18,1.522796,1.130881,3.265595,1.763233,1.955631,1.509413,1.256832
2,2016-01-01,19_24,1.813454,1.469683,3.654412,2.441575,2.358319,1.701487,1.333213
3,2016-01-01,25_29,1.902568,1.790530,5.434348,3.464911,2.451222,1.926941,1.847831
4,2016-01-01,30_34,1.791911,1.836360,7.978428,3.592016,2.577798,1.845889,1.815447
...,...,...,...,...,...,...,...,...,...
36163,2024-12-31,40_44,1.319904,1.195455,3.635282,2.244991,1.805642,1.307920,1.282782
36164,2024-12-31,45_49,1.284740,1.134216,3.363122,1.954657,1.797459,1.251667,1.232126
36165,2024-12-31,50_54,1.248271,1.207551,3.461566,2.364576,1.872422,1.265440,1.222392
36166,2024-12-31,55_59,1.336911,1.318047,3.886017,3.198864,2.146386,1.417366,1.315056
36167,2024-12-31,60_80,1.609421,1.329479,4.840044,3.384873,3.176843,1.865736,1.301964

In [6]:
# file_path = "processed/search_trend_pivot.csv"
# df_pivot.to_csv(data_dir + file_path, index=False, encoding="utf-8")

### 기상정보

In [7]:
file_list = glob.glob('raw/forecast_1525/forecast_*.csv')
df_list = [pd.read_csv(data_dir + file_path, encoding='euc-kr') for file_path in file_list]
df = pd.concat(df_list, ignore_index=True)
df

,지점,일시,풍속(m/s),풍향(deg),GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg)
0,22105,2020-01-01 00:00,6.4,284.0,9.3,1027.5,48.0,3.2,14.8,3.5,2.0,1.4,8.0,41.0
1,22105,2020-01-01 01:00,6.6,309.0,9.6,1026.7,44.0,3.0,14.8,3.7,1.9,1.4,8.0,45.0
2,22105,2020-01-01 02:00,7.3,292.0,10.7,1026.6,50.0,3.4,14.8,3.4,2.2,1.6,8.0,43.0
3,22105,2020-01-01 03:00,7.7,294.0,11.1,1026.6,47.0,2.8,14.8,3.2,1.9,1.3,5.8,22.0
4,22105,2020-01-01 04:00,7.4,292.0,10.5,1025.9,54.0,3.1,14.8,3.1,2.0,1.4,8.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561493,22190,2015-12-31 20:00,4.2,344.0,7.5,1030.1,59.0,8.3,15.6,2.5,1.3,0.9,5.3,190.0
561494,22190,2015-12-31 21:00,2.8,317.0,5.4,1030.2,55.0,8.2,15.7,1.7,1.0,0.7,4.9,197.0
561495,22190,2015-12-31 22:00,6.0,282.0,8.8,1030.2,64.0,8.0,15.8,2.1,1.2,0.8,5.3,190.0
561496,22190,2015-12-31 23:00,6.6,269.0,10.3,1030.1,59.0,7.6,15.8,2.0,1.1,0.8,4.9,170.0
561497,22190,2016-01-01 00:00,6.9,263.0,9.9,1029.9,54.0,7.7,15.9,1.7,1.1,0.8,5.8,186.0

In [15]:
# 기존 데이터프레임의 컬럼명
column_mapping = {
    '지점': 'station',
    '일시': 'datetime',
    '풍속(m/s)': 'wind_speed',
    '풍향(deg)': 'wind_direction',
    'GUST풍속(m/s)': 'gust_wind_speed',
    '현지기압(hPa)': 'local_pressure',
    '습도(%)': 'humidity',
    '기온(°C)': 'temperature',
    '수온(°C)': 'water_temperature',
    '최대파고(m)': 'max_wave_height',
    '유의파고(m)': 'significant_wave_height',
    '평균파고(m)': 'average_wave_height',
    '파주기(sec)': 'wave_period',
    '파향(deg)': 'wave_direction'
}

# 컬럼명 변경
df_tmp = df.rename(columns=column_mapping)
df_tmp['date'] = pd.to_datetime(df_tmp['datetime']).dt.date
# 결과 확인
print(df_tmp.head())

   station          datetime  wind_speed  wind_direction  gust_wind_speed  \
0    22105  2020-01-01 00:00         6.4           284.0              9.3
1    22105  2020-01-01 01:00         6.6           309.0              9.6
2    22105  2020-01-01 02:00         7.3           292.0             10.7
3    22105  2020-01-01 03:00         7.7           294.0             11.1
4    22105  2020-01-01 04:00         7.4           292.0             10.5

   local_pressure  humidity  temperature  water_temperature  max_wave_height  \
0          1027.5      48.0          3.2               14.8              3.5
1          1026.7      44.0          3.0               14.8              3.7
2          1026.6      50.0          3.4               14.8              3.4
3          1026.6      47.0          2.8               14.8              3.2
4          1025.9      54.0          3.1               14.8              3.1

   significant_wave_height  average_wave_height  wave_period  wave_direction  \
0                      2.0                  1.4          8.0            41.0
1                      1.9                  1.4          8.0            45.0
2                      2.2                  1.6          8.0            43.0
3                      1.9                  1.3          5.8            22.0
4                      2.0                  1.4          8.0            45.0

         date
0  2020-01-01
1  2020-01-01
2  2020-01-01
3  2020-01-01
4  2020-01-01

In [22]:
# 집계 함수 정의
agg_funcs = {
    # 'station': None,                     # 고유 식별자, 집계 제외
    # 'datetime': None,                    # 날짜/시간, 집계 제외
    'wind_speed': 'mean',                # 평균 풍속
    # 'wind_direction': 'mean',            # 풍향 제외
    'gust_wind_speed': 'mean',           # 평균 돌풍 풍속
    'local_pressure': 'mean',            # 평균 현지 기압
    'humidity': 'mean',                  # 평균 습도
    'temperature': 'mean',               # 평균 기온
    'water_temperature': 'mean',         # 평균 수온
    'max_wave_height': 'max',            # 최대 파고
    'significant_wave_height': 'mean',   # 평균 유의 파고
    'average_wave_height': 'mean',       # 평균 파고
    'wave_period': 'mean',               # 평균 파주기
    # 'wave_direction': 'mean',            # 파향 제외
}

# 함수 실행
df_agg = create_aggregate_table(df_tmp, index_cols=['station', 'date'], agg_funcs=agg_funcs)
print(len(df_agg["station"].unique()))
df_agg

10

,station,date,wind_speed,gust_wind_speed,local_pressure,humidity,temperature,water_temperature,max_wave_height,significant_wave_height,average_wave_height,wave_period
0,22105,2015-01-01,10.808696,15.126087,1016.200000,65.130435,-0.121739,13.752174,6.7,3.095652,1.547826,8.165217
1,22105,2015-01-02,9.725000,13.791667,1018.875000,60.083333,1.029167,13.262500,6.5,2.683333,1.341667,7.816667
2,22105,2015-01-03,3.520833,6.083333,1019.725000,39.750000,4.337500,13.391667,4.2,1.625000,0.812500,7.483333
3,22105,2015-01-04,4.558333,6.695833,1015.858333,54.000000,8.091667,13.862500,2.4,1.108333,0.554167,5.954167
4,22105,2015-01-05,6.708696,8.939130,1016.352174,57.086957,10.613043,13.608696,3.6,1.060870,0.521739,4.739130
...,...,...,...,...,...,...,...,...,...,...,...,...
23736,22305,2024-11-19,3.641667,5.437500,1030.700000,51.625000,9.258333,17.062500,2.4,1.004167,0.654167,6.229167
23737,22305,2024-11-20,7.466667,9.854167,1021.891667,51.583333,11.937500,16.850000,3.5,1.079167,0.687500,5.075000
23738,22305,2024-11-21,8.333333,10.666667,1017.745833,51.750000,12.854167,17.212500,2.2,0.962500,0.620833,4.820833
23739,22305,2024-11-22,10.116667,13.275000,1020.795833,49.666667,10.362500,16.141667,4.1,1.904167,1.225000,5.808333
23740,22305,2024-11-23,7.300000,10.200000,1026.300000,43.000000,9.500000,15.600000,2.6,1.600000,1.000000,5.900000

In [20]:
# file_path = "processed/forecast_agg.csv"
# df_pivot.to_csv(data_dir + file_path, index=False, encoding="utf-8")